.footer {
    padding-top: 100px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
    // .footer__container

    &__container {
    }

    // .footer__body

    &__body {
    }

    // .footer__top

    &__top {
        margin-bottom: 350px;
        display: flex;
        justify-content: space-between;

        // .footer__top-left

        &-left {
            nav {
                display: flex;
                @include adaptive-value("gap", 137, 0, 1);

                ul {
                    label {
                        display: block;
                        margin-bottom: 32px;
                        color: $black;
                        font-family: InterTight;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 1.2;
                        letter-spacing: 0.1px;
                    }

                    li {
                        margin-bottom: 8px;

                        a {
                            color: rgba($color: $black, $alpha: 0.4);
                            font-family: Inter;
                            font-weight: 500;
                            line-height: 1.4;
                            letter-spacing: -0.02em;
                        }
                    }
                }
            }
        }

        // .footer__top-right

        &-right {
            display: flex;
            flex-direction: column;

            a {
                color: $black;
                font-family: InterTight;
                font-size: 20px;
                font-weight: 500;
                line-height: 1.2;
                letter-spacing: 0.1px;
                text-decoration-line: underline;
            }

            & > :first-child {
                margin-bottom: 38px;
            }

            button {
                margin-top: 46px;
            }
        }
    }

    // .footer__bottom

    &__bottom {
        display: flex;
        width: 100%;
        justify-content: space-between;
        
        .logo {
            width: 137px;
            height: 26px;
            flex: 0 0 auto;
        }

        div {
            width: 50%;
            display: flex;
            align-items: center;
            gap: 55px;

            a {
                color: rgba($color: $black, $alpha: 0.4);
                font-family: Inter;
                font-size: 12px;
                font-weight: 400;
                line-height: 1;
                letter-spacing: 0.06px;
                text-decoration-line: underline;
            }
        }
    }
}
