.form {
    z-index: 1;
    position: relative;

    // .form__row

    &__row {
        display: flex;
        align-items: flex-end;
        gap: 30px;
        width: 100%;

        & + .form__row {
            @include adaptive-value("margin-top", 112, 77, 1);
        }

        @media (max-width: 992px) {
            flex-direction: column;
        }
    }

    // .form__item

    &__item {
        width: 100%;
        border-bottom: 1px solid rgba($color: $white, $alpha: 0.5);
        position: relative;
        transition: border-color 0.3s ease 0s;

        input,
        textarea,
        select {
            padding-bottom: 17px;
            width: 100%;
            color: $white;
            font-family: DINPro;
            font-size: 20px;
            font-weight: 400;
            letter-spacing: -0.02em;
            display: block;

            @media (max-width: 768px) {
                font-size: 14px;
                padding-bottom: 14px;
            }

            &._active,
            &:focus,
            &:active {
                + span {
                    font-size: 12px;
                    transform: translate(0, calc(-100% - 7px));

                    @media (max-width: 768px) {
                        font-size: 10px;
                    }
                }
            }
        }

        input,
        textarea {
        }

        textarea {
            resize: none;
        }

        select {
            cursor: pointer;
        }

        span {
            transition: all 0.3s ease 0s;
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            color: $white;
            font-family: DINPro;
            font-size: 20px;
            font-weight: 400;
            letter-spacing: -0.02em;
            display: block;

            @media (max-width: 768px) {
                font-size: 14px;
            }
        }

        &._error {
            border-color: red;

            span,
            input,
            textarea,
            select {
                color: red;

                &::placeholder {
                    color: red;
                }
            }
        }

        @media (any-hover: hover) {
            &:hover {
                span {
                    font-size: 12px;
                    transform: translate(0, calc(-100% - 7px));

                    @media (max-width: 768px) {
                        font-size: 10px;
                    }
                }

                border-color: $white;
            }
        }
    }

    h5 {
        color: $black;
        text-align: center;
        font-size: 32px;

        font-style: normal;

        line-height: 90%;
        text-transform: uppercase;
        margin-bottom: 104px;

        @media (max-width: 992px) {
            font-size: 28px;
            margin-bottom: 33px;
        }

        @media (max-width: 768px) {
            font-size: 20px;
        }
    }

    p {
        color: rgba($color: $white, $alpha: 0.2) !important;
        font-family: DINPro;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: -0.02em;
        @include adaptive-value("margin-bottom", 49, 36, 1);

        a {
            color: rgba($color: $white, $alpha: 0.5);
        }
    }

    // .form__button

    &__button {
        @include adaptive-value("margin-top", 51, 33, 1);

        position: relative;
        z-index: 1;
        width: 100%;

        ._btn {
            width: 100%;
            cursor: pointer;
            height: 72px;

            @media (max-width: 768px) {
                height: 50px;
            }
        }

        p {
            color: #aeaeae;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.2;
            letter-spacing: -0.03em;
        }

        a {
            color: $black;
        }
    }

    // .form__img

    &__img {
        max-width: 841px;
    }
}

section:not(.contacts) .form__button {
    input,
    button {
        background-color: $black;

        @media (any-hover: hover) {
            &:hover {
                background-color: $black;
                color: $white;
            }
        }
    }
}

.wpcf7-response-output {
    display: none !important;
}

.wpcf7-spinner {
    position: absolute;
    right: 15px;
    bottom: 15px;
    margin: 0;
}
