.grid {
    display: grid;
    grid-template-rows: auto;

    // .grid-4

    &-4 {
        grid-template-columns: repeat(4, 1fr);
        gap: 28px;

        @media (max-width: 1024px) {
            gap: 18px;
        }
    }

    // .grid-item

    &-item {
    }
}

.scroll-wrapper {
    @media (max-width: 1024px) {
        overflow-x: auto;
        width: 100vw;
        margin-left: -16px;
        padding: 0 16px;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .grid {
        @media (max-width: 1024px) {
            width: fit-content;
        }
    }
}
