.section {
    margin-bottom: 110px;
    @include adaptive-value("margin-bottom", 110, 68, 1);

    // .section__container

    &__container {
    }

    // .section__body

    &__body {
    }

    // .section__top

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include adaptive-value("margin-bottom", 38, 27, 1);

        a {
            height: 58px;
            width: 176px;
        }

        h2 {
            @media (min-width: 768px) {
                max-width: 80%;
            }
            width: 100%;
        }
    }

    // .section__bottom

    &__bottom {
    }

    // .section__flex

    &__flex {
        display: flex;
        // .section__flex-left

        &-left {
        }

        // .section__flex-right

        &-right {
        }
    }
}

.projects {
    .slider-control {
        @media (min-width: 769px) {
            display: none;
        }
    }

    .swiper-scrollbar {
        @media (max-width: 768px) {
            display: none;
        }
    }

    .swiper {
        overflow: visible;
        margin-bottom: 42px;

        @media (max-width: 768px) {
            margin-bottom: 27px;
        }

        &-slide {
            max-width: 519px;
            width: 100%;

            @media (max-width: 768px) {
                max-width: 281px;
            }
        }
    }
}

.services-cards {
    .grid {
        gap: 78px 33px;

        @media (max-width: 1024px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 28px;
        }

        @media (max-width: 500px) {
            grid-template-columns: 1fr;
        }
    }
}

.advantages {
    .section {
        // .section__flex

        &__flex {
            gap: 20px;
            justify-content: space-between;

            @media (max-width: 1024px) {
                flex-direction: column;
            }

            // .section__flex-left

            &-left {
                flex: 1 1 auto;

                @media (max-width: 1024px) {
                    margin-bottom: 54px;
                }

                p {
                    display: flex;
                    flex-direction: column;

                    line-height: 90%;
                    text-transform: uppercase;
                    color: $white;
                    @include adaptive-value("margin-bottom", 84, 30, 1);
                    letter-spacing: -3px;
                    @media (min-width: 1025px) {
                        @include adaptive-value("font-size", 120, 60, 1);
                    }

                    @media (max-width: 1024px) {
                        font-size: 60px;
                    }

                    span {
                        color: #383a3f;
                    }

                    label {
                        text-indent: 20%;

                        @media (max-width: 1024px) {
                            text-indent: 8%;
                        }
                    }
                }

                div {
                    color: $white;
                    @include adaptive-value("font-size", 24, 16, 1);
                    line-height: 1.1;
                    text-transform: uppercase;
                }
            }

            // .section__flex-right

            &-right {
                @media (min-width: 1025px) {
                    width: 58.7%;
                }

                ol {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: auto;
                    gap: 72px 0px;

                    @media (max-width: 1024px) {
                        gap: 37px;
                    }

                    li {
                        display: flex;
                        align-items: center;
                        width: fit-content;
                        gap: 20px;

                        @media (max-width: 992px) {
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 16px;
                        }

                        div {
                            flex: 0 0 auto;
                            width: 90px;
                            height: 90px;
                            position: relative;
                            border: 1px solid $white;
                            border-radius: 50%;

                            @media (max-width: 768px) {
                                width: 80px;
                                height: 80px;
                            }

                            img {
                                padding: 5px;
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        p {
                            color: $white;
                            @include adaptive-value("font-size", 22, 16, 1);
                            line-height: 1.1;
                            text-transform: uppercase;
                            max-width: 210px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.services {
    @include adaptive-value("margin-bottom", 121, 99, 1);

    .section__flex {
        @media (max-width: 992px) {
            display: block;
        }
    }

    .section__flex-left {
        flex: 1 1 auto;
        @media (max-width: 992px) {
            margin-bottom: 32px;
        }
    }

    .section__flex-right {
        width: 58.36%;

        @media (max-width: 992px) {
            width: 100%;
        }
    }

    ._btn {
        @media (max-width: 992px) {
            width: 100%;
        }
    }

    ol {
        margin-bottom: 42px;

        @media (max-width: 992px) {
            margin-bottom: 32px;
        }

        & > :last-child {
            border-bottom: 1px solid rgba($color: #fffdfd, $alpha: 0.3);
        }

        li {
            padding: 18px 0;
            border-top: 1px solid rgba($color: #fffdfd, $alpha: 0.3);

            a {
                display: flex;
                justify-content: space-between;
                align-items: center;

                @media (any-hover: hover) {
                    &:hover {
                        div {
                            background-color: $white;

                            svg {
                                fill: #212226;
                            }
                        }
                    }
                }

                span {
                    max-width: 577px;
                    width: 100%;
                    color: #fff;
                    font-family: DINCondensedC;
                    @include adaptive-value("font-size", 32, 24, 1);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 110%; /* 35.2px */
                    text-transform: uppercase;
                    display: block;
                    margin-right: 20px;

                    @media (max-width: 992px) {
                        max-width: none;
                    }
                }

                div {
                    width: 49px;
                    height: 49px;
                    flex: 0 0 auto;
                    border: 1px solid $white;
                    border-radius: 50%;
                    transition: all 0.3s ease 0s;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @media (max-width: 992px) {
                        width: 47px;
                        height: 47px;
                    }

                    @media (any-hover: hover) {
                        &:hover {
                            background-color: $white;

                            svg {
                                fill: #212226;
                            }
                        }
                    }

                    svg {
                        width: 10px;
                        height: 14px;
                        flex: 0 0 auto;
                        fill: $white;
                        transition: all 0.3s ease 0s;
                    }
                }
            }
        }
    }

    // .services-accoordeon

    &-accoordeon {
        width: 300px;
        background-color: $white;
        border-radius: 10px;
        padding: 24px 20px 35px 20px;
        color: $black;
        font-size: 18px;
        text-transform: uppercase;

        @media (max-width: 992px) {
            width: 100%;
            padding: 20px;
        }

        nav {
            & > ul > li {
                padding: 20px 0;
                border-top: 1px solid #e8e8e8;

                &:last-child {
                    border-bottom: 1px solid #e8e8e8;
                }
            }

            ul {
                li {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    &[data-open] {
                        & > button {
                            background-color: #eeecec;
                            border-color: #eeecec;

                            img,
                            svg {
                                transform: rotate(180deg);
                            }
                        }

                        & > ul {
                            max-height: 50vh;
                        }
                    }

                    &:has(ul) {
                        a {
                            max-width: calc(100% - 34px);
                        }
                    }

                    &:not(:has(ul)) {
                        a {
                            max-width: none;
                        }
                    }

                    ul {
                        flex: 0 0 auto;
                        width: 100%;
                        overflow: hidden;
                        max-height: 0;
                        transition: all 0.3s ease 0s;

                        & > :first-child {
                            margin-top: 20px;
                        }

                        & > :not(:last-child) {
                            margin-bottom: 13px;
                        }

                        li {
                            font-size: 15px;
                            text-transform: none;
                            font-family: DinPro;
                            color: #6c6c6c;
                            transition: color 0.3s ease 0s;
                            &[data-open] {
                                color: $black;
                            }

                            @media (any-hover: hover) {
                                &:hover {
                                    color: $black;
                                }
                            }

                            &:not(:has(ul)) {
                                padding-right: 20px;
                            }
                        }
                    }
                }
            }
        }
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            flex: 0 0 auto;
            border: 1px solid rgba($color: #c6c6c6, $alpha: 0.5);
            transition: all 0.3s ease 0s;
            margin-left: 10px;

            img,
            svg {
                width: 7px;
                transition: all 0.3s ease 0s;
                fill: $black;
            }
        }
    }
}

.models {
    @include adaptive-value("margin-bottom", 110, 56, 1);

    h2 {
        @include adaptive-value("margin-bottom", 44, 21, 1);
    }

    ul {
        display: flex;
        justify-content: space-between;
        gap: 30px;

        @media (max-width: 768px) {
            flex-direction: column;

            gap: 8px;
        }

        li {
            width: 100%;
            border-radius: 10px;
            background-color: #303237;
            @include adaptive-value("height", 101, 61, 1);
            transition: all 0.3s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    background-color: $white;
                    span {
                        color: rgba($color: #212226, $alpha: 0.6);
                    }
                    label {
                        color: #212226;
                    }
                }
            }

            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                min-height: 100%;

                span {
                    transition: all 0.3s ease 0s;

                    margin-bottom: 3px;
                    display: block;
                    color: rgba($color: $white, $alpha: 0.6);
                    @include adaptive-value("font-size", 16, 13, 1);
                    font-style: normal;
                    font-family: DINCondensedC;
                    line-height: 1.1;
                    text-transform: uppercase;

                    @media (max-width: 768px) {
                        margin-bottom: 1px;
                    }
                }

                label {
                    transition: all 0.3s ease 0s;

                    color: $white;
                    @include adaptive-value("font-size", 30, 22, 1);
                    line-height: 1.1;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.cars {
    h2 {
        position: relative;
        width: fit-content;

        @media (max-width: 768px) {
            display: flex;
            align-items: flex-end;
            gap: 10px;
        }

        span {
            @media (min-width: 769px) {
                position: absolute;
                right: -40px;
                top: -7px;
            }

            @media (max-width: 768px) {
                position: relative;
                top: -8px;
            }

            flex: 0 0 auto;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            background-color: $white;
            display: flex;
            align-items: center;
            justify-content: center;

            color: #212226;
            font-size: 24px;
            line-height: 1;
            text-transform: uppercase;

            @media (max-width: 768px) {
                position: relative;
                width: 30px;
                height: 30px;
                font-size: 16px;
            }
        }
    }

    .grid {
        @media (max-width: 768px) {
            margin-bottom: 26px;
        }

        &-item {
        }

        ._btn {
            width: 171px;
            height: 54px;

            @media (max-width: 768px) {
                width: 135px;
                height: 50px;
            }
        }
    }

    ._more {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }

    &.catalog .grid-4 {
        @media (max-width: 1024px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 500px) {
            grid-template-columns: 1fr;
        }
    }

    &.news {
        .car__card-name {
            @include adaptive-value("margin-bottom", 57, 46, 1);
        }
    }
}

.approach {
    h2 {
        margin-bottom: 50px;
        max-width: 505px;
        width: 100%;
        font-family: DINCondensedC;

        @media (max-width: 992px) {
            margin-bottom: 36px;
            font-size: 30px;
        }
    }

    img {
        border-radius: 10px;
    }

    .section__flex {
        justify-content: space-between;
        gap: 30px;

        @media (max-width: 992px) {
            flex-direction: column;
        }

        &-left {
            div {
                position: relative;
                padding-bottom: 100%;
                max-width: 409px;
                width: 100%;

                @media (max-width: 992px) {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: auto;
                    gap: 4px;
                    padding-bottom: 0;
                    max-width: none;

                    & > :last-child {
                        grid-column: span 2;
                    }
                }

                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: auto;
                    object-fit: cover;

                    @media (max-width: 992px) {
                        position: relative;
                        border-radius: 0;
                        height: 300px;
                    }

                    @media (max-width: 425px) {
                        height: 131px;
                    }
                }
            }
        }

        &-right {
            max-width: 633px;
            width: 100%;
            flex: 1 1 auto;

            @media (max-width: 992px) {
                max-width: 100%;
            }

            .approach-rightimg {
                position: relative;
                padding-bottom: 68.73%;
                max-width: 633px;
                width: 100%;
                margin-bottom: 54px;

                @media (max-width: 992px) {
                    display: none;
                }

                div {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;

                    img,
                    picture {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            p {
                display: block;

                color: $white;
                font-family: DINPro;
                font-size: 14px;
                font-weight: 700;
                letter-spacing: -0.02em;
                text-transform: uppercase;
            }

            ol {
                display: flex;
                flex-direction: column;
                gap: 59px;
                margin-top: 52px;

                @media (max-width: 992px) {
                    margin-top: 36px;
                    gap: 30px;
                }

                li {
                    display: flex;
                    align-items: center;
                    gap: 29px;
                    color: $white;
                    font-family: DINPro;

                    .fill {
                        width: 61px;
                        height: 61px;

                        @media (max-width: 768px) {
                            width: 45px;
                            height: 45px;
                        }

                        svg {
                            flex: 0 0 auto;
                        }
                    }

                    div {
                        display: flex;
                        flex-direction: column;

                        span {
                            @include adaptive-value("font-size", 20, 16, 1);
                            font-weight: 700;
                            letter-spacing: -0.02em;
                            margin-bottom: 24px;

                            @media (max-width: 768px) {
                                margin-bottom: 12px;
                            }
                        }

                        p {
                            max-width: 460px;
                            width: 100%;
                            font-size: 18px;
                            font-weight: 400;
                            letter-spacing: -0.02em;
                            text-transform: inherit;

                            @media (max-width: 768px) {
                                font-size: 12px;
                                max-width: 250px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.contacts {
    @include adaptive-value("margin-bottom", 110, 84, 1);

    h2 {
        @include adaptive-value("font-size", 120, 60, 1);

        @include adaptive-value("margin-bottom", 112, 70, 1);
    }

    form {
        margin-left: auto;
        width: 66.57%;

        @media (min-width: 769px) {
            margin-right: 100px;
        }

        @media (max-width: 768px) {
            width: 100%;
        }

        ._btn {
            @media (min-width: 769px) {
                height: 58px;
                width: 227px;
            }
        }
    }
}

.text {
    @include adaptive-value("margin-bottom", 110, 90, 1);

    .section__flex {
        justify-content: space-between;
        gap: 80px;

        @media (max-width: 992px) {
            gap: 50px;
            flex-direction: column;
        }

        &-right {
            @media (min-width: 993px) {
                flex: 0 0 auto;
            }
        }
    }

    &._descr {
        ol {
            @media (min-width: 993px) {
                max-width: 656px;
            }
        }

        .form {
            padding-top: 32px;
            padding-bottom: 41px;

            @media (max-width: 768px) {
                padding-bottom: 37px;
            }
        }
    }

    .form {
        max-width: 410px;
        width: 100%;

        background-color: $white;
        padding: 30px 35px 40px 35px;
        border-radius: 10px;
        height: fit-content;
        max-width: 410px;
        width: 100%;

        @media (max-width: 992px) {
            padding: 30px 28px;
            margin-top: 0px;
            max-width: none;
        }

        h5 {
            margin-bottom: 58px;
            color: $black;

            @media (max-width: 992px) {
                font-size: 28px;
                margin-bottom: 33px;
            }
        }

        // .form__row

        &__row {
            flex-direction: column;
        }

        // .form__item

        &__item {
            border-bottom: 1px solid rgba($color: #5b5555, $alpha: 0.5);

            input {
                color: $black;
                padding-bottom: 8px;
            }

            span {
                color: #5b5555;
            }
        }

        // .form__button

        &__button {
            @media (max-width: 768px) {
                margin-top: 20px;
            }

            p {
                text-align: center;
                color: #969393 !important;
                margin-bottom: 28px;

                a {
                    color: #292828;
                }
            }
        }
    }
}

.read-more {
    // .read-more__content

    &__content {
        position: relative;
        max-width: 861px;

        &:before {
            position: absolute;
            content: "";
            bottom: -50px;
            left: 50%;
            width: 110%;
            transform: translate(-50%, 0);
            height: 110px;
            background: #212226;
            filter: blur(20px);

            transition: all 0.5s ease 0s;
            pointer-events: none;

            @media (max-width: 768px) {
                width: 150%;
            }
        }

        &._active {
            &:before {
                opacity: 0;
            }
        }
    }

    .text-content {
        height: 320px;
        overflow: hidden;
    }

    ._btn {
        margin-top: 43px;
    }
}

.data {
    .section__flex {
        justify-content: space-between;

        &-left {
            width: 100%;

            @media (min-width: 993px) {
                max-width: 515px;
            }
        }

        &-right {
            @media (max-width: 992px) {
                width: 100%;
            }

            @media (min-width: 993px) {
                width: 49.22%;

                ol {
                    li {
                        gap: 40px;
                    }
                }
            }
        }
    }

    span {
        opacity: 0.5;
    }

    .characteristics {
        ol {
            gap: 0 !important;
        }
    }
}

.characteristics {
    .section__body {
        max-width: 1070px;
    }

    h2 {
        @include adaptive-value("margin-bottom", 60, 24, 1);
    }

    ol {
        width: 100%;

        & > :last-child {
            border-bottom: 1px solid rgba($color: $white, $alpha: 0.2);
        }

        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 20px 0;
            border-top: 1px solid rgba($color: $white, $alpha: 0.2);

            @media (max-width: 768px) {
                display: block;
            }

            span {
                display: block;
                color: $white;
                font-family: DINPro;
                font-size: 18px;
                font-weight: 500;
                letter-spacing: -0.02em;

                @media (max-width: 768px) {
                    opacity: 0.5;
                    margin-bottom: 15px;
                }
            }

            p {
                color: #fff;
                font-family: DINPro;
                font-size: 18px;
                font-weight: 400;
                letter-spacing: -0.36px;

                @media (min-width: 769px) {
                    max-width: 330px;
                    width: 100%;
                }
            }
        }
    }
}

.text-content,
.text-page__content {
    & > :not(:last-child) {
        margin-bottom: 15px;

        @media (max-width: 768px) {
            margin-bottom: 10px;
        }
    }

    a {
        text-decoration: underline;
    }

    h2:first-child {
        margin-bottom: 40px;

        @media (max-width: 768px) {
            margin-bottom: 24px;
        }
    }

    ol,
    ul,
    p {
        & + h2,
        & + h3,
        & + h4,
        & + h5,
        & + h3 {
            @include adaptive-value("margin-top", 45, 25, 1);
        }
    }

    p,
    ol,
    ul,
    strong,
    b,
    em,
    i {
        font-family: DinPro;
        font-size: 18px;
        line-height: normal;

        @media (max-width: 768px) {
            font-size: 15px;
        }
    }

    ul {
        padding-left: 1.5em;
        list-style: unset;

        li {
            list-style: unset;
            list-style-type: unset;
        }
    }

    ol {
        padding-left: 1.5em;

        li {
            list-style: unset;
            list-style-type: unset;
        }
    }
}

.text {
    h1 {
        text-align: center;
        margin-bottom: 85px !important;

        @media (max-width: 1024px) {
            margin-bottom: 50px !important;
        }

        @media (max-width: 768px) {
            margin-bottom: 32px !important;
        }
    }

    .section__top {
        display: block;
    }
}
