.single-car {
    @include adaptive-value("padding-top", 200, 105, 1);

    h1 {
        text-align: left;

        @media (max-width: 992px) {
            margin-bottom: 27px;
        }

        @media (max-width: 768px) {
            font-size: 37px;
        }
    }

    .section {
        // .section__flex

        &__flex {
            justify-content: space-between;
            gap: 30px;

            @media (max-width: 992px) {
                flex-direction: column-reverse;
            }

            // .section__flex-left

            &-left {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                max-width: 516px;
                width: 100%;

                @media (max-width: 992px) {
                    max-width: none;
                }
            }

            // .section__flex-right

            &-right {
                max-width: 634px;
                flex: 1 1 auto;
                width: 50%;

                @media (max-width: 992px) {
                    width: 100%;
                    max-width: none;
                    flex: unset;
                }
            }
        }
    }

    .car-slider {
        position: relative;
        display: flex;
        gap: 20px;
        width: 100%;

        @media (max-width: 992px) {
            flex-direction: column;
        }
    }

    .summary {
        label {
            width: fit-content;
            text-align: center;
            margin-top: 34px;
            margin-bottom: 38px;
            padding: 15px 18px;

            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            background-color: #3c3e44;
            letter-spacing: -0.02em;
            font-size: 14px;
            font-weight: 700;
            font-family: DinPro;

            @media (max-width: 768px) {
                margin-top: 0;
                margin-bottom: 21px;
                padding: 12px 14px;
            }

            @media (max-width: 425px) {
                font-size: 12px;
            }
        }

        p {
            color: $white;
            font-family: DINPro;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: -0.02em;

            @media (max-width: 768px) {
                font-size: 15px;
            }
        }

        span {
            display: block;
            color: $white;
            @include adaptive-value("font-size", 50, 36, 1);
            font-family: DINCondensedC;

            line-height: 1.1;
            text-transform: uppercase;
            margin-top: 64px;
            margin-bottom: 35px;

            @media (max-width: 992px) {
                margin-top: 39px;
                margin-bottom: 21px;
            }
        }

        div {
            width: 100%;

            & > :not(:last-child) {
                margin-bottom: 12px;
            }

            button {
                width: 100%;
            }
        }
    }

    .slider-main {
        max-width: 524px;
        flex: 1 1 auto;
        width: calc(100% - 110px);
        position: relative;

        @media (max-width: 992px) {
            max-width: none;
            width: 100%;
            max-width: none;
            flex: unset;
        }

        .swiper {
            @media (max-width: 992px) {
                max-width: none;
                width: 100vw;
                margin-left: -16px;
                padding: 0 16px;
            }
        }

        .swiper-slide {
            cursor: pointer;
            position: relative;
            padding-bottom: 117.37%;

            @media (max-width: 992px) {
                padding-bottom: 0;
                height: 402px;
            }
        }

        img,
        iframe,
        video {
            border-radius: 10px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .slider-thumbs {
        display: flex;
        flex-direction: column;
        align-items: center;

        .swiper {
            width: 89px;
            height: 100%;
            margin-top: 14px;
            margin-bottom: 14px;

            @media (min-width: 993px) {
                @include adaptive-value("max-height", 550, 20, 1);
            }

            @media (max-width: 992px) {
                height: auto;
                margin-top: 0;
                margin-bottom: 0;

                max-width: none;
                width: 100vw;
                margin-left: -16px;
                padding: 0 16px;
            }
        }

        .swiper-slide {
            z-index: 3;
            cursor: pointer;
            width: fit-content;
            opacity: 0.4;
            height: 85px;

            @media (max-width: 992px) {
                height: 45px;
            }

            &.swiper-slide-thumb-active {
                opacity: 1;
            }

            img,
            iframe,
            video {
                border-radius: 5px;
                height: 100%;
                object-fit: cover;
            }

            svg {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
                pointer-events: none;

                width: 30px;
                height: 30px;

                @media (max-width: 768px) {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    .pagination {
        position: absolute;
        left: 16px;
        bottom: 16px;
        z-index: 2;

        border-radius: 5px;
        background-color: rgba(60, 62, 68, 0.6);
        padding: 15px 21px;

        color: $white;
        text-align: center;
        font-family: DINPro;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: -0.02em;

        @media (max-width: 768px) {
            padding: 10px;
        }
    }

    .next {
        position: relative;
        z-index: 2;

        @media (min-width: 993px) {
            transform: rotate(90deg);
        }
    }

    .prev {
        @media (min-width: 993px) {
            transform: rotate(90deg);
        }
        position: relative;
        z-index: 2;
    }

    @media (max-width: 992px) {
        .prev,
        .next {
            display: none;
        }
    }
}

.swiper-vertival .swiper-wrapper,
.swiper-vertical .swiper-wrapper {
    flex-direction: column;
}
