@font-face {
	font-family: DIN;
	font-display: swap;
	src: url("../fonts/DIN-Condensed-Bold.woff2") format("woff2"), url("../fonts/DIN-Condensed-Bold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: DINPro;
	font-display: swap;
	src: url("../fonts/DINPro-Bold.woff2") format("woff2"), url("../fonts/DINPro-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: DINPro;
	font-display: swap;
	src: url("../fonts/DINPro-Medium.woff2") format("woff2"), url("../fonts/DINPro-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: DINPro;
	font-display: swap;
	src: url("../fonts/DINPro-Regular.woff2") format("woff2"), url("../fonts/DINPro-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
